# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
venv312/
.venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
